/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    background-color: #322;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 0;
    background-color: #292929;
    padding: 20px;
    height: 420px;
}


.menu-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu-row a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
    padding:30px ;
}

.menu-row a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
